<div>

  <div class="tdk-full-width">
    <auto-complete #autocomplete [(model)]="input"
                   class="tdk-full-width"
                   modelValueField="value"
                   [(selectionData)]="selectionData"
                   [placeholder]="placeholder"
                   [formName]="formName"
                   [displayField]="displayField"
                   [valueField]="modelField"
                   (onOptionSelected)="onSelect($event, autocomplete)"
    ></auto-complete>
  </div>

  <div>
    <md-chip-list>
      <md-chip *ngFor="let data of model; let i=index" [selected]="true">
        <label>{{data[displayField]}}
          <button type="button" md-button class="chip-button" (click)="remove(i)"><md-icon>clear</md-icon></button>
        </label>
      </md-chip>
    </md-chip-list>
  </div>

</div>


