<md-card class="centered-card">

  <md-card-title>
    Forgot Password
  </md-card-title>

  <form #forgotPasswordForm="ngForm" class="example-form">
    <div fxLayout="row">
      <div fxFlex.xs="100%" fxFlex="95%">

        <div fxLayout="column">
          <md-input-container class="mam-full-width">
            <input mdInput placeholder="Email" [(ngModel)]="email" name="email" required>
          </md-input-container>

          <div fxFlex>
            <div class="form-button-group" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
              <button fxFlex.xs="100%" fxFlex="30%" [disabled]="!forgotPasswordForm.form.valid" md-raised-button  (click)="forgotPassword()" type="submit" color="primary">SUBMIT</button>
              <button fxFlex.xs="100%" fxFlex="30%" md-raised-button (click)="cancel()" type="button" color="accent">CANCEL</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

</md-card>
