/* You can add global styles to this file, and also import other style files */

/* Reset */
html,
body,
div {
  font-family: 'Roboto', "Helvetica Neue", Arial;
  border: 0;
  margin: 0;
  padding: 0;
}
