<md-card class="centered-card">

  <md-card-title>
    Reset Password
  </md-card-title>

  <form #resetPasswordForm="ngForm" class="example-form">
    <div fxLayout="column">

      <md-input-container class="tdk-full-width">
        <input mdInput placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" type="password" required>
      </md-input-container>

      <md-input-container class="tdk-full-width">
        <input mdInput placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>
      </md-input-container>

      <button [disabled]="!resetPasswordForm.form.valid" md-raised-button  (click)="resetPassword()" type="submit" color="primary">RESET PASSWORD</button>

    </div>
  </form>

</md-card>
